<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Libraries</key>
	<array>
		<string>Norlin Library</string>
		<string>Gemmill Library</string>
	</array>
	<key>Coffee Shops</key>
	<array>
		<string>Celestial Seasonings</string>
		<string>Pekoes</string>
		<string>Laughing Goat</string>
	</array>
	<key>Buildings</key>
	<array>
		<string>ATLAS</string>
		<string>Benson Earth Sciences</string>
		<string>Jennie Smoly Caruthers Biotechnology</string>
		<string>C4C</string>
		<string>Clare</string>
		<string>Coors Event Center</string>
		<string>Cristol Chemistry</string>
		<string>DLC</string>
		<string>Duane Physics</string>
		<string>Eaton Humanities</string>
		<string>Economics</string>
		<string>Education</string>
		<string>Ekeley Sciences</string>
		<string>Engineering Center</string>
		<string>Environmental Design</string>
		<string>Fiske Planetarium</string>
		<string>Fleming</string>
		<string>Guggenheim Geography</string>
		<string>Hale Science</string>
		<string>Hellems Arts and Sciences</string>
		<string>Imig Music</string>
		<string>Ketchum</string>
		<string>Koelbel</string>
		<string>Macky Auditorium</string>
		<string>Mathematics</string>
		<string>McKenna Languages</string>
		<string>Muenzinger Psychology</string>
		<string>Porter Biosciences</string>
		<string>Ramaley Biology</string>
		<string>Regent Administrative Center</string>
		<string>Folsom Stadium</string>
		<string>University Club</string>
		<string>University Memorial Center</string>
		<string>University Theatre</string>
		<string>Visual Arts Complex</string>
		<string>Wardenburg Health Center</string>
	</array>
</dict>
</plist>
